\appendix

\vspace{2cm}
\section{System Modeling Code} \label{appendix:SystemModeling}
\PY{ 'model.py' | snippet }

There is also some work on github(link below) in a jupyter notebook

Disclaimer: This is just a few relevant fragments of the source code, as the entire code is a complicated system
that takes these fragments and automatically renders them into the final pdf. However all of this is available
online on \href{https://github.com/NathanRoseCE/ControlsClass}{github}(its latex + python)