\section{Introduction}

A doubly inverted pendulum is a pendulum on a pendulum. What makes this a classical control problem is the
inverted nature of the system. That is instead of hanging the pendulum, the goal is to balence it upright.

For this project, the system states will be defined as:
\begin{enumerate}
\item $x$ is the position of the cart
\item $\theta_0$ angle of joint 0 to joint 1
\item $\theta_1$ angle of joint 1 to joint 2
\end{enumerate}

with the input being the force input on the cart that caries it.

This system can be modeled as follows:
\begin{equation}

\end{equation}

