\documentclass[11pt]{article}

%packages
\usepackage{geometry} %set peper size and font
\usepackage{parskip} %probs redundant with setspace
\usepackage{setspace} %single space document
\usepackage{enumitem} %spacing after indent
\usepackage{tikz} %arrays
\usepackage{xcolor} %color
\usepackage{hyperref} %links
\usepackage{ifthen} %self explanatory
\usepackage{titlesec} %spacing for sections
\usepackage{docmute}
\usepackage{import}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{mathrsfs}
\usepackage{minted}
\usepackage[backend=biber,style=ieee]{biblatex}
\addbibresource{resources/sources.bib}

\title{Controls Project}
\author{\PY{name}}
\date{\today}

\newcommand{\doty}{\dot y}
\newcommand{\laplace}[1]{\mathscr{L}(#1)}
\newcommand{\laplaceinv}[1]{\mathscr{L}^{-1}(#1)}
\begin{document}
\maketitle
\subimport{./}{abstract}
\subimport{./}{introduction}
\subimport{./}{controller_design}
\subimport{./}{help_recieved}
\end{document}