\section{The Observer}
The previous section assumed that the state variables can be modeled, which is not necessaryily the case. To make
it interesting I am going to assume that the system's velocities can be measured(ie only relative encoders are
available for the system).

This is going to create a c matrix of:
\PY{ non_linear_system["C"] |  bmatrix | eq }

\PY{ non_linear_system | design_l }
