\item For the system with transfer function 
  \begin{equation}
    H(s) =
    \begin{bmatrix}
      \frac{-s}{(s+1)^2} & \frac 1 {s+1} \\
      \frac {2s+1}{s(s+1)} & \frac 1 {s+1}
    \end{bmatrix}
  \end{equation}
  \begin{enumerate}
  \item Find a minimal realization using approach(b) Jordan canonical form method, discussed in Slides 94-96\\
    Write as partial fractions
    \begin{equation}
      H(s) = \frac 1 {s(s+1)^2}
      \begin{bmatrix}
        -s^2 & s(s+1)\\
        (s2+1)(s+1) & s(s+1)\\ 
      \end{bmatrix}
    \end{equation}
    \PY{ 'Finish' | TODO }
  \item Show that the transfer function matrix of the minimal realization is the same as H(s) given above
  \end{enumerate}