\item For the transfer function matrix
  \begin{equation}
    H(s) =
    \begin{bmatrix}
      \frac s {s-2} & 0 \\
      \frac 2 {s-2} & 1 
    \end{bmatrix}
  \end{equation}
  \begin{enumerate}
  \item Obtain the controllable canoncical form \\
    \begin{equation}
      \frac 1 {s+2}
      \begin{bmatrix}
        s & 0 \\
        2 & s+2
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      \dot x =
      \begin{bmatrix}
        -2 & 0 \\
        0 & -2
      \end{bmatrix}x +
      \begin{bmatrix}
        1 & 0 \\
        0 & 1 
      \end{bmatrix}u
    \end{equation}
    \begin{equation}
      N_0 =
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      N_1 =
      \begin{bmatrix}
        0 & 0 \\
        2 & 2
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      y =
      \big (
      \begin{bmatrix}
        0 & 0 \\
        2 & 2
      \end{bmatrix} - 
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}2
      \big )x +
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}u
    \end{equation}
    \begin{equation}
      y =
      \begin{bmatrix}
        -2 & 0 \\
        2 & 0
      \end{bmatrix}x +
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}u
    \end{equation}
    \PY{ 'check this' | TODO }
  \item obtain the observable canonical form\\
    \begin{equation}
      \frac 1 {s+2}
      \begin{bmatrix}
        s & 0 \\
        2 & s+2
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      N_0 =
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      N_1 =
      \begin{bmatrix}
        0 & 0 \\
        2 & 2
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      \dot x =
      \begin{bmatrix}
        2 & 0 \\
        0 & 2
      \end{bmatrix}x +
      \big (
      \begin{bmatrix}
        0 & 0 \\
        2 & 2
      \end{bmatrix} -
      \begin{bmatrix}
        2 & 0 \\
        0 & 2
      \end{bmatrix}
      \big )u
    \end{equation}
    \begin{equation}
      \dot x =
      \begin{bmatrix}
        2 & 0 \\
        0 & 2
      \end{bmatrix}x +
      \begin{bmatrix}
        -2 & 0 \\
        2 & 0
      \end{bmatrix}u
    \end{equation}
    \begin{equation}
      y =
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}x +
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix}
    \end{equation}
  \item show that the realization in (a) and (b) are dual\\
    as per
    \begin{equation}
      \begin{bmatrix}
        A & B \\
        C & D
      \end{bmatrix}^T =
      \begin{bmatrix}
        A^T & B^T \\
        C^T & D^T
      \end{bmatrix}
    \end{equation}
  \end{enumerate}
  it can be seen that this is not the case for this example as $A_c \ne {A_o}^T$