\section{Help Recieved}
This section is a thank you for people who caught issues or otherwised helped(collaboration is allowed)
\begin{enumerate}
\item Andrew Strazds general resource and checking my work
\end{enumerate}