\item In the LTI system described for $\dot {\bar x}(t) = A\bar x$ with
  $A = \PY{ one_system["A"] | bmatrix }$
  \begin{enumerate}
  \item Obtain all eigenvalues and eigenvectors of $A$\label{1-a}\\
    Note I cannot seem to get the right answer for this question, so I show my work for how I would calculate the
    answer which produces the wrong answer and then use jordan-form function to get $V$. This can be shown in
    \ref{appendix:eigen}
    \PY{ one_system | one_a }
  \item Use the eigenvectors in part \ref{1-a} to obtain the  m odal matrix $V$ and Jordan Form $J$\\
    \PY{ one_system | one_b }
  \end{enumerate}