\item The linearized equatinos of motion of a pendulum can be written in the form of
  \begin{equation}
    \dot x_1 = x_2
  \end{equation}
  \begin{equation}
    \dot x_2 = -ax_1 - cx_2
  \end{equation}
  where $a > 0$ is a constant parameter of the system and $c > 0$ is the torsional friction coefficient
  \begin{enumerate}
  \item Study BIBS stability of the system 
  \item Consider the quadratic Lyapunov functino $V = \bar x^T P \bar x$ with
    $P = \begin{bmatrix} \frac a 2 & 0 \\ 0 & \frac 1 2\end{bmatrix}$. What can be said about the stability of
    the system based on this choice of the Lyapunov function?
  \item What can be said about the stability of the system based on the analysis of b) and c)?
  \item Study BIBS stability of teh system when $c=0$
  \end{enumerate}