\item In each case below discuss BIBS stability of the LTI system $\dot {\bar x}(t) = A\bar x(t)$:
  \begin{enumerate}
  \item $A = \begin{bmatrix} -1 & 0 \\ 0 & -2 \end{bmatrix}$ \\
    This system is stable as both of its eigenvalues are less 0
  \item $A = \begin{bmatrix} 0 & 0 & 0\\ 0 & -1 & 0\\ 0 & 0 & -3 \end{bmatrix}$\\
    This system is semi-stable as two of the three are less than 0, and one is 0
  \item $A = \begin{bmatrix} 1 & 0 & 0\\ 0 & -1 & 0\\ 0 & 0 & -3 \end{bmatrix}$\\
    This system is not stable an eigenvalue is greater than 0
  \item $A = \begin{bmatrix} 0 & 1 & 0\\ 0 & 0 & 0\\ 0 & 0 & -3 \end{bmatrix}$\\
    \PY{ 'find eigenvalues' | TODO }
  \item $A = \begin{bmatrix} 0 & 0 & 0\\ 0 & 0 & 0\\ 0 & 0 & -3 \end{bmatrix}$\\
    This system is not stable as two of its eigenvalues are 0
  \end{enumerate}