\appendix

% \section{Appendix}
\section{One A source code} \label{appendix:one-a-src}
\PY{ 'one_a.py' | snippet }
\section{Two A source code} \label{appendix:two-a-src}
\PY{ 'two_a.py' | snippet }
\section{Three B source code} \label{appendix:two-b-src}
\PY{ 'two_b.py' | snippet }
\section{Three source code} \label{appendix:three-src}
\PY{ 'three.py' | snippet }

All of this is available online on \href{https://github.com/NathanRoseCE/ControlsClass}{github}(its latex +
python)