\item Given a system in state space
  \begin{equation}
    \dot {\bar x}(t) = A\bar x(t) + B\bar u(t)
  \end{equation}
  \begin{equation}
    \bar y(t) = C\bar x(t) + D\bar u(t)
  \end{equation}
  prove that the transfer function matrix is invariant to any similarity transformation of the state i.e.
  $\bar x = T\bar z$, where $T$ is a constant invertible matrix.