\item A system is described by
  \PY{ one_system | one_system_eq }
  Obtain the STM of the uncontrolled system using the following methods:
  \begin{enumerate}
  \item Via taking the laplace inverse of $(sI - A)^{-1}$ \\
    \PY{ one_system | one_laplace_inv }
    
    The theta in the equation is the step function as described
    \href{https://math.stackexchange.com/questions/1967109/inverse-laplace-transfrom-using-sympy}{here}
    
    This is accomplished with the code in \autoref{appendix:one-a-src}
  \item Via model decomposition of Matrix A \\
    \PY{'this' | TODO}
  \item Via the Cayley-Hamilton theorem \\
    This will be done by using the Cayley-hamilton theorem to solve for $e^{At}$ then via equation 22 it is the
    STM
    \begin{itemize}
    \item Find the characteristic polynomial \\
      \begin{equation}
        0 = |\lambda I - A| =
        \begin{vmatrix}
          \lambda +2 & -1 \\
          1 & \lambda 
        \end{vmatrix} =
        \lambda^2 + 2\lambda + 1
      \end{equation}
      \begin{equation}
        \lambda = -1,-1
      \end{equation}
    \item solve for $\beta_0$ and $\beta_1$ \\
      \begin{equation}
        e^{-t} = \beta_0 - \beta_1
      \end{equation}
      \begin{equation}
        -e^{-t} = \beta_1
      \end{equation}
      \begin{equation}
        -e^{-t} = \beta_0 - e^{-t}
      \end{equation}
      \begin{equation}
        \beta_0 =2e^{-t}
      \end{equation}
    \item solve $e^{At}$(and STM)
      \begin{equation}
        STM = e^{At} = \beta_oI + \beta_1A =
        \begin{bmatrix}
          2e^{-t}
        \end{bmatrix}
      \end{equation}
    \end{itemize}
  \end{enumerate}
  \PY{ 'figure out why this is wrong' | TODO } 