\item Given
  \begin{equation}
    A = \PY{ three_A | bmatrix }\end{equation}
  \begin{enumerate}
  \item Find $A^{-1}$ using the Cayley-Hamilton theorem
  \item Obtain $e^{AT}$ using one of the three mentioned methods in Problem 1
  \end{enumerate}