\item A system is described by
  \PY{ one_system | one_system_eq }
  Obtain the STM of the uncontrolled system using the following methods:
  \begin{enumerate}
  \item Via taking the laplace inverse of $(sI - A)^{-1}$ \\
    \PY{ one_system | one_laplace_inv }
    
    The theta in the equation is the step function as described
    \href{https://math.stackexchange.com/questions/1967109/inverse-laplace-transfrom-using-sympy}{here}
    
    This is accomplished with the code in \autoref{appendix:one-a-src}
  \item Via model decomposition of Matrix A \\
    Eigenvalues are: $\lambda = \PY{  one_system["A"] | eig_vals | complexCsv }$
    This is not the simple case... joy
    \begin{equation}
      (A -\lambda_iI)v_i = 0
    \end{equation}
    \begin{equation}
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 1
      \end{bmatrix}v_i = 0
    \end{equation}
    only one solution :/    
    \begin{equation}
      0 = 
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 1
      \end{bmatrix}^2v_2 =
      \begin{bmatrix}
        0 & 0 \\
        0 & 0
      \end{bmatrix}v_2
    \end{equation}
    \begin{equation}
      v_2 =
      \begin{bmatrix}
        1 \\
        0
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      v_1 =
      \begin{bmatrix}
        1 & -1 \\
        1 &  -1
      \end{bmatrix}v_2 = 
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 1
      \end{bmatrix}
      \begin{bmatrix}
        1 \\
        0
      \end{bmatrix} = 
      \begin{bmatrix}
        -1 \\
        -1
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      V =
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 0
      \end{bmatrix},
      J =
      \begin{bmatrix}
        -1 &  1 \\
         0 & -1
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      \Lambda =
      \begin{bmatrix}
        -1 &  0 \\
         0 & -1
      \end{bmatrix},
      N =
      \begin{bmatrix}
        0 & 1 \\
        0 & 0
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      e^{\Lambda t} =
      \begin{bmatrix}
        e^{-t} & 0 \\
        0 & e^{-t}
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      e^{N t} =
      \begin{bmatrix}
        1 & 0 \\
        0 & 1
      \end{bmatrix} +
      \begin{bmatrix}
        0 & t \\
        0 & 0
      \end{bmatrix} =
      \begin{bmatrix}
        1 & t \\
        0 & 1
      \end{bmatrix}
    \end{equation}
    \begin{equation}
      Ve^{\Lambda t}e^{Nt}V^{-1} =
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 0
      \end{bmatrix}
      \begin{bmatrix}
        e^{-t} & 0 \\
        0 & e^{-t}
      \end{bmatrix}
      \begin{bmatrix}
        1 & t \\
        0 & 1
      \end{bmatrix}
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 0
      \end{bmatrix}^{-1}
    \end{equation}
    \begin{equation}
      Ve^{\Lambda t}e^{Nt}V^{-1} =
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 0
      \end{bmatrix}
      \begin{bmatrix}
        e^{-t} & te^{-t} \\
        0 & e^{-t}
      \end{bmatrix}
      \begin{bmatrix}
        -1 & 1 \\
        -1 & 0
      \end{bmatrix}^{-1}
    \end{equation}
    insert some python to solve this multiplication
    \begin{equation}
      \Phi(t) = Ve^{\Lambda t}e^{Nt}V^{-1} =
      '\left[\begin{matrix}e^{-t} \left(1 - t\right) & e^{-t} t\\- e^{-t} t & e^{-t} \left(t + 1\right)\end{matrix}\right]'
    \end{equation}
    
  \item Via the Cayley-Hamilton theorem \\
    This will be done by using the Cayley-hamilton theorem to solve for $e^{At}$ then via equation 22 it is the
    STM
    \begin{itemize}
    \item Find the characteristic polynomial \\
      \begin{equation}
        0 = |\lambda I - A| =
        \begin{vmatrix}
          \lambda +2 & -1 \\
          1 & \lambda 
        \end{vmatrix} =
        \lambda^2 + 2\lambda + 1
      \end{equation}
      \begin{equation}
        \lambda = -1,-1
      \end{equation}
    \item solve for $\beta_0$ and $\beta_1$ \\
      \begin{equation}
        e^{-t} = \beta_0 - \beta_1
      \end{equation}
      \begin{equation}
        te^{-t} = \beta_1
      \end{equation}
      \begin{equation}
        e^{-t} = \beta_0 - te^{-t}
      \end{equation}
      \begin{equation}
        \beta_0 = e^{-t} + te^{-t}
      \end{equation}
    \item solve $e^{At}$(and STM)
      \begin{equation}
        STM = e^{At} = \beta_oI + \beta_1A =
        \begin{bmatrix}
          e^{-t} - te^{-t} & te^{-t}\\
          -te^{-t} & te^{-t} + e^{-t}
        \end{bmatrix}
      \end{equation}
    \end{itemize}
  \end{enumerate}