\item Given
  \begin{equation}
    A = \PY{ three_A | bmatrix }\end{equation}
  \begin{enumerate}
  \item Find $A^{-1}$ using the Cayley-Hamilton theorem \\
    \begin{equation}
      \Delta(\lambda) = (\lambda I - A) = 0
    \end{equation}
    \begin{equation}
      \lambda = \PY{ three_A | eig_vals | complexCsv}
    \end{equation}
    \PY{ three_A | three_inverse }
  \item Obtain $e^{At}$ using one of the three mentioned methods in Problem 1 \\
    I am using using the laplace transform method.
    \PY{ three_A | three_laplace_inv }
  \end{enumerate}