\appendix

\vspace{2cm}
\section{snippen section name} \label{appendix:snippet_name}
\PY{ 'snippet_file.py' | snippet }

Disclaimer: This is just a few relevant fragments of the source code, as the entire code is a complicated system
that takes these fragments and automatically renders them into the final pdf. However all of this is available
online on \href{https://github.com/NathanRoseCE/ControlsClass}{github}(its latex + python)