\begin{document}
\item Find the transfer function matrix for the system described as
  \PY{ fourSystem | FourSS }
  
  \begin{equation}
    F(s) = C(sI-A)B + D
  \end{equation}
  That is the equation for how to do that and I could grind through this process but honestly that sounds
  terrible and ill probably make a bunch of minor math mistakes. So I am going to put this in python using thier
  control library and spit out an answer.

  \PY{ fourSystem | FourTF }
  
\end{document}